@font-face {
    font-family: Comfortaa;
    src: url("/assets/fonts/Comfortaa-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: Comfortaa;
    src: url("/assets/fonts/Comfortaa-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: Comfortaa;
    src: url("/assets/fonts/Comfortaa-Bold.woff2");
    font-weight: 700;
}