@font-face {
    font-family: Comfortaa;
    src: url("/assets/fonts/Comfortaa-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Comfortaa;
    src: url("/assets/fonts/Comfortaa-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Comfortaa;
    src: url("/assets/fonts/Comfortaa-Bold.ttf");
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Comfortaa, sans-serif;
    font-weight: 400;
    background-color: #F3F6FD;
}

.header__habits-title {
    font-size: 48px;
    font-family: Comfortaa, sans-serif;
}