* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Comfortaa;
  src: url("/assets/fonts/Comfortaa-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Comfortaa;
  src: url("/assets/fonts/Comfortaa-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Comfortaa;
  src: url("/assets/fonts/Comfortaa-Bold.woff2");
  font-weight: 700;
}
:root {
  --container-width: 812px;
}

.container {
  max-width: calc(var(--container-width));
}

body {
  font-family: Comfortaa, sans-serif;
  font-weight: 400;
  background-color: #F3F6FD;
}